/* Common CSS */
.inner {
    /* 아래 두줄 이외의 기능은 넣지 않는 것이 좋다 ex) d:f*/
    width: 1300px;
    margin: auto;
    border: 1px solid red;
}

/* Header */
header {
    position: fixed;
    /* 중요 - fixed하면 w100p무조건 넣어줘야함 */
    width: 100%;
}
header .banner {
    background-color: black;
}
header .banner .lnb {
    width: 1300px;
    margin: auto;
    /* div안의 a태그이기 때문에 flex쓸 필요 없음 */
    /* text-align: right; */
    display: flex;
    justify-content: flex-end;
    padding: 12px;
}
header .banner .lnb a {
    margin-left: 20px;
    color: #ddd;
}
header .banner .lnb a:hover {
    color: #bbb;
}
header .banner .lnb a em {
    color: #bbb;
}
header nav {
    padding-top: 20px;
    width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}
header nav .logo {
}
header nav .gnb {
    display: flex;
    align-items: center;
}
header nav .gnb li {
    margin-left: 40px;
}
header nav .gnb li a {
    color: #ddd;
}
header nav .gnb li a:hover {
    color: #333;
    transition: 0.5s;
}

/* Intro */
.intro {
    /* 처음 웹사이트를 방문했을 때 화면이 꽉차게 */
    height: 100vh;
    background: url("./images/intro.jpg") no-repeat center center;
    /* 매우 중요 - 백그라운드랑 그냥 이미지태그로 넣는 것은 크기 지정방법이 다르다.*/
    background-size: cover;
    display: flex;
    align-items: center;
}
.intro .heading {
    color: white;
    text-align: center;
}
.intro .heading h1 {
    font-size: 56px;
    margin-bottom: 40px;
}
.intro .heading p {
    font-size: 22px;
    line-height: 1.5em;
    padding: 0 150px;
    font-weight: 300;
}

/* about */
.about {
}
.about .inner {
}
.about .inner .about-content {
    padding: 100px 0;
    display: flex;
}
.about .inner .about-content div {
    padding: 50px;
}
.about .inner .about-content .desc {
    flex: 4;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about .inner .about-content .desc h2 {
    font-size: 30px;
    padding-bottom: 20px;
}
.about .inner .about-content .desc p {
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 20px;
}
.about .inner .about-content .desc a {
    color: crimson;
    font-weight: bold;
}
.about .inner .about-content .desc a:hover {
    text-decoration: underline;
}
.about .inner .about-content .photo {
    flex: 3;
}
/* img를 div로 감싸야 플렉싱하기 편함 */
.about .inner .about-content .photo img {
    width: 100%;
    /* 중첩해야 원하는대로 나옴 */
    border-radius: 60% 60% 50% 65% / 60% 70% 50% 60%;
}

/* Call Action */

.callaction {
}
.callaction .callaction-content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* 순서꼭 지켜야함 */
    /* 투명도 주는법! */
    background: linear-gradient(
            to right,
            rgba(128, 0, 128, 0.356),
            rgba(255, 166, 0, 0.61)
        ),
        url("./images/callaction-01.jpg");

    background-size: cover;
}
.callaction .callaction-content p {
    font-size: 50px;
    padding: 0 400px;
    text-align: center;
    line-height: 1.5em;
    color: white;
    font-weight: 300;
}
.callaction .callaction-content p span {
    font-weight: 500;
}
.callaction .callaction-content button {
    width: 200px;
    height: 40px;
    background-color: rgb(90, 226, 90);
    color: white;
    border-radius: 5px;
    border: none;
    box-shadow: white 0 0 5px;
}
.callaction .callaction-content button:hover {
    box-shadow: white 0 0 10px;
    transition: 0.5s;
}

/* Festival */
.festival-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-color: #333;
    color: white;
}
.festival {
}
.festival .festival-header {
}
.festival .festival-header p {
    font-size: 24px;
    font-weight: 300;
}
.festival .festival-header p span {
    font-weight: bold;
}
.festival .festival-btn {
    display: flex;

    width: 500px;
}

.festival-btn1 {
    border-radius: 5px;
    background-color: rgb(236, 214, 87);
    padding: 6px;

    text-align: center;
    flex: 1;
}
.festival-btn1:hover {
    box-shadow: white 0 0 5px;
    transition: 0.5s;
}
.festival-btn1 a {
    color: white;
}
.festival-btn2 {
    border-radius: 5px;
    background-color: #eee;
    padding: 6px;
    flex: 1;
    text-align: center;

    margin-left: 40px;
}
.festival-btn2:hover {
    box-shadow: white 0 0 5px;
    transition: 0.5s;
}

/* footer */
footer {
    background-color: #000;
}
.footer-content {
    display: flex;
    padding: 40px 0;
}
.footer-content ul {
    text-align: center;
}
.footer-content ul li {
}
.footer-content ul li:first-child {
    font-weight: 500;
    color: #d9d9d9;
}
.footer-content ul li a {
    color: #959595;
}
.footer-content .Community {
    flex: 1;
}
.footer-content .Network {
    flex: 1;
}
.footer-content .help {
    flex: 2;
}
.footer-content .help li {
    padding: 0 100px;
    color: #959595;
}
.footer-content .help li:nth-last-child(1) {
    padding-top: 20px;
}
