body{
    background-color: blanchedalmond;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    margin: auto;
    height: 100vh;
}
.container{
    width: 1200px;
    border: 1px solid black;
    display: flex;
    
}
.subcontainer{
    flex: 5;
    display: flex;
    flex-direction: column;
}
nav{
    border: 1px solid black;
    flex:1; 
}
header{
    flex:1;
    height: 100px;
}
section{
    display: flex;
    flex:3;
    border: 1px solid black;
}
article{
    flex:4;
}
aside{
    flex:1;
    border: 1px solid black;
}
footer{
    flex:1;
    height: 100px;
}
@media(max-width:868px){
    section{
        flex-direction: column;
    }
    aside{
        order:-1;
    }
}